<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="crunchyroll_dl_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="crunchyroll_dl_gui.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <crunchyroll_dl_gui.Properties.Settings>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>enUS</value>
            </setting>
            <setting name="Unblock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DontAutoselectQuality" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAccount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Quality" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreDubs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EpisodesRange" serializeAs="String">
                <value />
            </setting>
            <setting name="Episodes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>:name - :ep [:resolution]</value>
            </setting>
            <setting name="UseDefaultName" serializeAs="String">
                <value>False</value>
            </setting>
        </crunchyroll_dl_gui.Properties.Settings>
        <crunchyroll_dl_gui.app>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="unblock" serializeAs="String">
                <value />
            </setting>
            <setting name="resolution" serializeAs="String">
                <value />
            </setting>
        </crunchyroll_dl_gui.app>
    </userSettings>
</configuration>